page-view-user {

    p {
        font-size: 0.8em;
        color: 1px solid #ea6153;
    }

    .swiper-slide {
        display: block;
    }

    ion-label, .select-text {
        margin-left: 10px;
    }

    ion-input, ion-select, ion-textarea, ion-datetime{
        background-color: #f2f2f2;
        padding: 5px 10px;
    }
    .printid {
        background-color: #f2f2f2;
        padding: 5px 10px;
        color: rgba(51,102,204,1);
    }
    .scroll
    {
        overflow: scroll;
        padding-bottom: 0 !important;
        padding-top: 0 !important;
    }

    .invalid {
        border: 1px solid #ea6153;
    }

}
