
<ion-header>
  <ion-navbar color="header">
    <ion-title>View/Delete</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="Service.status">
    <ion-card *ngFor="let item of Service?.data;">
      
        <ion-card-header class="header-style" (click)="enablecontent(item)">
          <div >
              <ion-icon  name="megaphone" style="color:red;">  
                  <strong *ngIf="item.START_TIME == '{{myDate}}'" style="font-size: 1e;color:red">{{item.CATEGORY}} </strong>
                  <strong *ngIf="item.START_TIME != '{{myDate}}'" style="font-size: 1em;color:lightgreen">{{item.CATEGORY}} </strong>
                 </ion-icon>
  
          </div>

         <ion-label><strong>Date : </strong> {{item.START_TIME}}</ion-label>
         <ion-label text-wrap>{{item.TITLE}}</ion-label>

        </ion-card-header>
      
        <ion-card-content  *ngIf="false">
          {{item.DESCRIPTION}}<br/>
        </ion-card-content>
      </ion-card>
      </div>

      <div *ngIf="Service.status==false" text-center style="margin-top:20%;">
          <ion-icon name="information-circle" style="font-size:300%">
                 <h2>No information Available</h2>
          </ion-icon>
         </div>
         
    </ion-content>