<ion-header>
  <ion-navbar color="header">
    <ion-title>Add Timetable</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-item>
        <ion-label floating>
            <ion-icon ios="ios-people" md="md-people"></ion-icon>
          Class and Section
        </ion-label>
         <ion-select  name="classId" [(ngModel)]="classId">
          <ion-option *ngFor="let i of service?.classData"  value="{{i.CLASS_MASTER_ID}}" >{{i.CLASS}} {{i.SECTION}}</ion-option>
         </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>
        <ion-icon ios="ios-book" md="md-book"></ion-icon>
        SUBJECT
      </ion-label>
       <ion-select  name="SUBJECTID" [(ngModel)]="SUBJECTID">
        <ion-option *ngFor="let i of GU?.attsubject"  value="{{i.SUBJECT_ID}}" >{{i.SUBJECT_NAME}}</ion-option>
       </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>
          <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
        Time Slot
      </ion-label>
      <ion-select name="SLOT" [(ngModel)]="SLOT">
        <ion-option value="9_10">
          09 AM - 10 AM
        </ion-option >
        <ion-option value="10_11">
          10 AM - 11 AM
        </ion-option>
        <ion-option value="11_12">
          11 AM - 12 PM
        </ion-option>
        <ion-option value="12_1">
          12 PM - 01 PM
        </ion-option>
        <ion-option value="01 PM - 02 PM">
          01 PM - 02 PM
        </ion-option>
        <ion-option value="02 PM - 03 PM">
          02 PM - 03 PM
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-label>
    </ion-label>
  
    <button id="addTimeTable" on-click="submitTimetable(CLASSID,SUBJECTID,SLOT)" ion-button color="header" block style="border-radius:2px 2px 2px 2px;width: 200px;  margin:auto;">
        Save
    </button>
</ion-content>