<!--
  Generated template for the AddUsersPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="header">
    <ion-title>Add User</ion-title>
     <ion-buttons start>
        <button ion-button icon-left (click)="prev()"><ion-icon name="arrow-back"></ion-icon> Prev</button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button icon-right (click)="next()">Next <ion-icon name="arrow-forward"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>
  
</ion-header>

<ion-content >

   <!-- style="height: auto" is used to make sure that, inputs will not go out of the screen -->
   <ion-slides #signupSlider pager style="height: auto">
          <!-- slide1 -->
      <ion-slide >

        <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>

        <ion-list no-lines  scroll="true">

            <form [formGroup]="slideOneForm"  scroll="true">

                   <!-- user role -->
                <ion-item>
                    <ion-label floating>User Role Type</ion-label>
                    <ion-select formControlName="userrole" [class.invalid]="!slideOneForm.controls.userrole.valid && (slideOneForm.controls.userrole.dirty || submitAttempt)">
                          <ion-option value="student" >
                                Student
                          </ion-option>
                          <ion-option value="teacher">
                                Teacher
                          </ion-option >
                    </ion-select>
                </ion-item>
               <!-- this is the item for  selecting class if role is student -->
                <ion-item *ngIf="!slideOneForm.controls.userrole.valid  && (slideOneForm.controls.userrole.dirty || submitAttempt)">
                    <p>Please enter a valid name.</p>
                </ion-item>   <br>         
                   <!-- user id -->
                <ion-item>
                    <ion-label class="printid" (click)="getID()"> Reg No (click) :  </ion-label>
                    <ion-label class="printid"(click)="getID()"> {{service.userID}} </ion-label>
                    
                </ion-item> 
    
            
                <!-- <ion-item *ngIf="!slideOneForm.controls.userpic.valid  && (slideOneForm.controls.userpic.dirty || submitAttempt)">
                    <p>Please enter a valid name.</p>
                </ion-item> -->
                  <!-- user first name -->
                <ion-item>
                    <ion-label floating>First Name</ion-label>
                    <ion-input formControlName="userfirstname" type="text" [class.invalid]="!slideOneForm.controls.userfirstname.valid && (slideOneForm.controls.userfirstname.dirty || submitAttempt)"></ion-input>
                </ion-item>

                <ion-item *ngIf="!slideOneForm.controls.userfirstname.valid  && (slideOneForm.controls.userfirstname.dirty || submitAttempt)">
                    <p>Please enter a valid name.</p>
                </ion-item>
                  <!-- user last name -->
                <ion-item>
                    <ion-label floating>Last Name</ion-label>
                    <ion-input formControlName="userlastname" type="text" [class.invalid]="!slideOneForm.controls.userlastname.valid && (slideOneForm.controls.userlastname.dirty || submitAttempt)"></ion-input>
                </ion-item>

                <ion-item *ngIf="!slideOneForm.controls.userlastname.valid  && (slideOneForm.controls.userlastname.dirty || submitAttempt)">
                    <p>Please enter a valid name.</p>
                </ion-item>
                
                  <!-- user gender -->
                <ion-item>
                    <ion-label floating>Gender</ion-label>
                    <ion-select formControlName="usergender" [class.invalid]="!slideOneForm.controls.usergender.valid && (slideOneForm.controls.usergender.dirty || submitAttempt)">
                          <ion-option value="male">
                                Male
                          </ion-option>
                          <ion-option value="female">
                                Female
                          </ion-option>
                    </ion-select>
                </ion-item>

                <ion-item *ngIf="!slideOneForm.controls.usergender.valid  && (slideOneForm.controls.usergender.dirty || submitAttempt)">
                    <p>Please enter a valid name.</p>
                </ion-item>
                  <!-- user date of birth -->
                <ion-item>
                    <ion-label floating>Date of Birth</ion-label>
                      <ion-datetime display-format="MMMM YYYY" min="1930" max="2012-12-31" formControlName="userdob" [class.invalid]="!slideOneForm.controls.userdob.valid && (slideOneForm.controls.userdob.dirty || submitAttempt)">
                      </ion-datetime>
                    
                </ion-item>

                <ion-item *ngIf="!slideOneForm.controls.userdob.valid  && (slideOneForm.controls.userdob.dirty || submitAttempt)">
                    <p>Please enter a valid date.</p>
                </ion-item>
              
            
            </form>

        </ion-list>

      </ion-slide>

      <!-- slide 2 -->
      <ion-slide >

        <ion-list no-lines >

            <form [formGroup]="slideTwoForm">
                 
                  <!-- user email -->
                <ion-item>
                    <ion-label floating>Email </ion-label>
                    <ion-input formControlName="useremail" type="email" [class.invalid]="!slideTwoForm.controls.useremail.valid && (slideTwoForm.controls.useremail.dirty || submitAttempt)"></ion-input>
                </ion-item>

                <ion-item *ngIf="!slideTwoForm.controls.useremail.valid  && (slideTwoForm.controls.useremail.dirty || submitAttempt)">
                    <p>Please enter a valid email ex : ali21@gmail.com.</p>
                </ion-item>
                
                  <!-- user password -->
                <ion-item>
                    <ion-label floating>Password</ion-label>
                    <ion-input formControlName="userpassword" type="password" [class.invalid]="!slideTwoForm.controls.userpassword.valid && (slideTwoForm.controls.userpassword.dirty || submitAttempt)"></ion-input>
                </ion-item>

                <ion-item *ngIf="!slideTwoForm.controls.userpassword.valid  && (slideTwoForm.controls.userpassword.dirty || submitAttempt)">
                    <p>Please enter a valid password. ex: Aabc@&123</p>
                </ion-item>
                  <!-- user confirm password -->
                <ion-item>
                    <ion-label floating>Confirm Password</ion-label>
                    <ion-input formControlName="userpassword2" type="password" [class.invalid]="!slideTwoForm.controls.userpassword2.valid && (slideTwoForm.controls.userpassword2.dirty || submitAttempt)"></ion-input>
                </ion-item>

                <ion-item *ngIf="!slideTwoForm.controls.userpassword2.valid  && (slideTwoForm.controls.userpassword2.dirty || submitAttempt)">
                    <p>Please enter a valid password. ex: Aabc@&123</p>
                </ion-item>

                  <!-- user father's name -->
                <ion-item>
                    <ion-label floating>Father Name</ion-label>
                    <ion-input formControlName="userfathername" type="text" [class.invalid]="!slideTwoForm.controls.userfathername.valid && (slideTwoForm.controls.userfathername.dirty || submitAttempt)"></ion-input>
                </ion-item>

                <ion-item *ngIf="!slideTwoForm.controls.userfathername.valid  && (slideTwoForm.controls.userfathername.dirty || submitAttempt)">
                    <p>Please enter a valid name.</p>
                </ion-item>
                       <!-- user mother's name -->
                <ion-item>
                    <ion-label floating>Mother Name </ion-label>
                    <ion-input formControlName="usermothername" type="text" [class.invalid]="!slideTwoForm.controls.usermothername.valid && (slideTwoForm.controls.usermothername.dirty || submitAttempt)"></ion-input>
                </ion-item>

                <ion-item *ngIf="!slideTwoForm.controls.usermothername.valid  && (slideTwoForm.controls.usermothername.dirty || submitAttempt)">
                    <p>Please enter a valid name.</p>
                </ion-item>
                       <!-- user city -->
                <ion-item>
                    <ion-label floating>City </ion-label>
                    <ion-input formControlName="usercity" type="text" [class.invalid]="!slideTwoForm.controls.usercity.valid && (slideTwoForm.controls.usercity.dirty || submitAttempt)"></ion-input>
                </ion-item>

                <ion-item *ngIf="!slideTwoForm.controls.usercity.valid  && (slideTwoForm.controls.usercity.dirty || submitAttempt)">
                    <p>Please enter a valid name.</p>
                </ion-item>
                 <!-- user activation -->
                <!-- <ion-item>
                    <ion-label floating>User activation</ion-label>
                    <ion-select formControlName="useractive" [class.invalid]="!slideTwoForm.controls.useractive.valid && (slideTwoForm.controls.useractive.dirty || submitAttempt)">
                          <ion-option>
                                activate
                          </ion-option>
                          <ion-option>
                                desactivate
                          </ion-option>
                    </ion-select>
                </ion-item>

                <ion-item *ngIf="!slideTwoForm.controls.useractive.valid  && (slideTwoForm.controls.useractive.dirty || submitAttempt)">
                    <p>Please enter a valid value</p>
                </ion-item>  -->


            </form>

        </ion-list>
          
      </ion-slide>
      <!-- slide 3 -->
      <ion-slide >

        <ion-list no-lines >

            <form [formGroup]="slideThreeForm">
                 
                  <!-- addressType -->
                <ion-item>
                    <ion-label floating>Address Type </ion-label>
                   <ion-select formControlName="addressType" [class.invalid]="!slideThreeForm.controls.addressType.valid && (slideThreeForm.controls.addressType.dirty || submitAttempt)">
                          <ion-option value="Permanent">
                                Permanent
                          </ion-option>
                          <ion-option value="temporarly">
                                Temporarly
                          </ion-option>
                    </ion-select>
                </ion-item>

                <ion-item *ngIf="!slideThreeForm.controls.addressType.valid  && (slideThreeForm.controls.addressType.dirty || submitAttempt)">
                    <p>Please select one address type.</p>
                </ion-item>
                
                  <!-- address Line 1 -->
                <ion-item>
                    <ion-label floating>Address Line 1</ion-label>
                    <ion-input formControlName="address1" type="text" [class.invalid]="!slideThreeForm.controls.address1.valid && (slideThreeForm.controls.addressType.dirty || submitAttempt)"></ion-input>
                </ion-item>

                <ion-item *ngIf="!slideThreeForm.controls.address1.valid  && (slideThreeForm.controls.address1.dirty || submitAttempt)">
                    <p>Please enter a valid name.</p>
                </ion-item>
                  <!-- address Line 2 -->
                <ion-item>
                    <ion-label floating>Address Line 2</ion-label>
                    <ion-input formControlName="address2" type="text" [class.invalid]="!slideThreeForm.controls.address2.valid && (slideThreeForm.controls.address2.dirty || submitAttempt)"></ion-input>
                </ion-item>

                <ion-item *ngIf="!slideThreeForm.controls.address2.valid  && (slideThreeForm.controls.address2.dirty || submitAttempt)">
                    <p>Please enter a valid name.</p>
                </ion-item>

                  <!-- state -->
                <ion-item>
                    <ion-label floating>State</ion-label>
                    <ion-input formControlName="state" type="text" [class.invalid]="!slideThreeForm.controls.state.valid && (slideThreeForm.controls.state.dirty || submitAttempt)"></ion-input>
                </ion-item>

                <ion-item *ngIf="!slideThreeForm.controls.state.valid  && (slideThreeForm.controls.state.dirty || submitAttempt)">
                    <p>Please enter a valid name.</p>
                </ion-item>
                   <!-- Pin Code -->
                <ion-item>
                    <ion-label floating>Pin Code </ion-label>
                    <ion-input formControlName="pincode" type="number" [class.invalid]="!slideThreeForm.controls.pincode.valid && (slideThreeForm.controls.pincode.dirty || submitAttempt)"></ion-input>
                </ion-item>

                <ion-item *ngIf="!slideThreeForm.controls.pincode.valid  && (slideThreeForm.controls.pincode.dirty || submitAttempt)">
                    <p>Please enter a valid name.</p>
                </ion-item>
                 <!-- contact -->
                <ion-item>
                    <ion-label floating>Mobile Contact </ion-label>
                   <ion-input formControlName="contact" type="text" [class.invalid]="!slideThreeForm.controls.contact.valid && (slideThreeForm.controls.contact.dirty || submitAttempt)"></ion-input>

                </ion-item>

                <ion-item *ngIf="!slideThreeForm.controls.contact.valid  && (slideThreeForm.controls.contact.dirty || submitAttempt)">
                    <p>Please enter a valid value</p>
                </ion-item> 


            </form>

        </ion-list>

      </ion-slide>

       <!-- slide 4 -->
      <ion-slide  class="scroll">

        <ion-list no-lines >

            <form [formGroup]="slideFourForm">
                 
                <!-- user pic -->
                <ion-item>
                        <div style="width: 100%; text-align: center;">
                    <!-- <ion-label floating>User Picture</ion-label>
                    <ion-input formControlName="userpic" type="text" [class.invalid]="!slideOneForm.controls.userpic.valid && (slideOneForm.controls.userpic.dirty || submitAttempt)"></ion-input> -->
                    <img src="{{pathForImage(lastImage)}}" style="width: 100%; height:80% ;" [hidden]="lastImage === null">
                    <h5 [hidden]="lastImage !== null">Please Select Image!</h5>
                    <ion-buttons>
                            <button ion-button icon-right (click)="presentActionSheet()">
                                <ion-icon name="camera"></ion-icon> &nbsp; Select Image
                            </button>
                            <!-- <button ion-button icon-right (click)="uploadImage()" [disabled]="lastImage === null">
                                <ion-icon name="cloud-upload"></ion-icon>&nbsp; Upload
                            </button> -->
                    </ion-buttons>  
                    </div>
                </ion-item>
                 <!-- student class   -->
                <ion-item [hidden]='slideOneForm.controls.userrole.value ==="teacher" || slideOneForm.controls.userrole.value ===""'>
                    <ion-label floating  [hidden]='slideOneForm.controls.userrole.value ==="teacher" || slideOneForm.controls.userrole.value ==="" '>Class </ion-label>
                    <ion-select formControlName="studentClass" [class.invalid]="!slideFourForm.controls.studentClass.valid && (slideFourForm.controls.studentClass.dirty || submitAttempt)">
                          <ion-option  *ngFor=" let p of cid.classData" [value]="p.CLASS">
                                {{p.CLASS}}
                          </ion-option>
                          
                    </ion-select>
                </ion-item>
                 <!-- student  SECTION   -->
                <ion-item [hidden]='slideOneForm.controls.userrole.value ==="teacher" || slideOneForm.controls.userrole.value ===""'>
                    <ion-label  floating  [hidden]='slideOneForm.controls.userrole.value ==="teacher" || slideOneForm.controls.userrole.value ==="" '>SECTION </ion-label>
                    <ion-select formControlName="studentSection" [class.invalid]="!slideFourForm.controls.studentSection.valid && (slideFourForm.controls.studentSection.dirty || submitAttempt)">
                          <ion-option  value="A">
                                A
                          </ion-option>
                          <ion-option  value="B">
                                B
                          </ion-option>
                          <ion-option  value="C">
                                C
                          </ion-option>
                          <ion-option  value="D">
                                D
                          </ion-option>
                          
                    </ion-select>
                </ion-item>
                 <!-- session   -->
                <ion-item [hidden]='slideOneForm.controls.userrole.value ==="teacher" || slideOneForm.controls.userrole.value ===""'>
                    <ion-label floating  [hidden]='slideOneForm.controls.userrole.value ==="teacher" || slideOneForm.controls.userrole.value ==="" '>SESSION </ion-label>
                    <ion-select formControlName="studentSession" [class.invalid]="!slideFourForm.controls.studentClass.valid && (slideFourForm.controls.studentClass.dirty || submitAttempt)">
                          <ion-option  *ngFor=" let p of getSession.SessData" [value]="p.SESSION_MASTER_ID">
                                {{p.SESSION_START_DATE}} -- {{p.SESSION_END_DATE}}
                          </ion-option>
                          
                    </ion-select>
                </ion-item>
                 <!-- teacher Designation      -->
            
                <ion-item [hidden]='slideOneForm.controls.userrole.value ==="student" || slideOneForm.controls.userrole.value ===""'>
                    <ion-label floating  [hidden]='slideOneForm.controls.userrole.value ==="student" || slideOneForm.controls.userrole.value ==="" '>Teacher Designation</ion-label>
                    <ion-input formControlName="teacherDesg" [class.invalid]="!slideFourForm.controls.teacherDesg.valid && (slideFourForm.controls.teacherDesg.dirty || submitAttempt)">
                    </ion-input>

                </ion-item>

                <ion-item *ngIf="!slideFourForm.controls.teacherDesg.valid  && (slideFourForm.controls.teacherDesg.dirty || submitAttempt)">
                    <p>Please enter a valid value</p>
                </ion-item> 
               

                 <!-- teacher Department      -->
                <ion-item [hidden]='slideOneForm.controls.userrole.value ==="student" || slideOneForm.controls.userrole.value ===""'>
                    <ion-label floating  [hidden]='slideOneForm.controls.userrole.value ==="student" || slideOneForm.controls.userrole.value ==="" '>Department</ion-label>
                    <ion-select formControlName="teacherDepart" [class.invalid]="!slideFourForm.controls.teacherDepart.valid && (slideFourForm.controls.teacherDepart.dirty || submitAttempt)">
                          <ion-option value="Department1">
                                Department1
                          </ion-option>
                          <ion-option value="Department2">
                                Department2
                          </ion-option>
                          
                    </ion-select>
                </ion-item>
            </form>

        </ion-list>
            
            <button ion-button full color="primary" (click)="save()">
                <ion-icon name="cloud-upload"></ion-icon> &nbsp; Create Account!
             </button>

      </ion-slide>
 

    </ion-slides>
           
</ion-content>