page-add-users {

    p {
        font-size: 0.8em;
        color: 2px solid #ea6153;
    }

    .swiper-slide {
        display: block;
    }

    ion-label, .select-text {
        margin-left: 10px;
    }

    ion-input, ion-select, ion-textarea, ion-datetime, .printid {
        background-color: #f2f2f2;
        padding: 5px 10px;
    }
    .scroll
    {
        overflow: scroll;
        padding-bottom: 0 !important;
        padding-top: 0 !important;
    }

    .invalid {
        border: 1px solid #ea6153;
    }



}
