page-login {
    .upperhalf {
        height: 50%;
        padding-top: 10%;
        background: linear-gradient(180deg, rgb(180, 203, 236) 19%, rgba(51,102,204,1) 81%);
        padding-top: 10%;
    }
    .lowerhalf {
        height: 50%;
        background-color: #ffffff;
    }
    .login-form {
        padding: 25px;
        position: relative;
        bottom: 60px;
    }
    .user {
        border-radius: 7px 7px 0px 0px;
    }
    .wrapper-class {
        background-color: #fff;
    }

    .log-in {
        position: relative;
        bottom: 28px;
        display: flex;
        justify-content: center;
    }
    button#login-button3 {
        border-radius: 40px !important;
    }
}
