page-login {
    .upperhalf {
        height: 50%;
        background: linear-gradient(180deg, rgba(0,255,255,1) 19%, rgba(51,102,204,1) 81%);
    }
    .lowerhalf {
        height: 50%;
        background-color: #ffffff;
    }
    .login-form {
        padding: 25px;
        position: relative;
        bottom: 60px;
    }
    .user {
        border-radius: 7px 7px 0px 0px;
    }
    .wrapper-class {
        background-color: #fff;
    }

    .log-in {
        position: relative;
        bottom: 28px;
        margin-left: 50px;
    }
    button#login-button3 {
        border-radius: 40px !important;
    }
}
