
<ion-header>
  <ion-navbar color="header">
    <ion-title>Attendance</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background:rgb(229, 231, 228)">
  
    <ion-grid no-padding *ngFor="let i of SA?.crSub; let j = index" style="border:solid 0px;">
      <ion-card no-padding>
      <ion-row  no-padding no-lines >
        <ion-col >
          <div >
            <label *ngIf="i.STATUS == 'A'" style="color:red"> {{i.STATUS}}  </label>
           <label *ngIf="i.STATUS == 'P'" style="color:rgb(84, 236, 70)"> {{i.STATUS}}  </label> 
          </div>
        </ion-col>
        <ion-col>
            <div>
              {{i.SUBJECT_ID}} 
            </div>
          </ion-col>
          <ion-col>
            <div >
              <ion-label style="size:10%;">{{i.SLOT}} </ion-label>
            </div>
          </ion-col>
        <ion-col>
          <div>
            {{i.DATE}}
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
      </ion-grid>
  
  

</ion-content>
