<ion-header>
  <ion-navbar color="header">
    <ion-title>{{'update_term' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
        <ion-label floating >
          <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
          {{'select' |translate}} {{'term' |translate}}
        </ion-label>
      <ion-select name="TID" [(ngModel)]="TID">
       <ion-option *ngFor="let i of TS?.termData"  value="{{i.TERM_ID}}" >{{i.TERM}} {{i.START_DATE}} {{i.END_DATE}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-label><!-- Space Here --></ion-label>

    <ion-item>
        <ion-label floating>
          <ion-icon ios="ios-browsers" md="md-browsers"></ion-icon>
          Session
        </ion-label>
         <ion-select  name="SESSION" [(ngModel)]="SESSION">
  
          <ion-option *ngFor="let p of TS?.sessionData"  value="{{p.SESSION_MASTER_ID}}" >{{p.SESSION_MASTER_ID}} {{p.SESSION_START_DATE}} TO {{p.SESSION_END_DATE}}</ion-option>
          
         </ion-select>
          </ion-item>

          <ion-label><!-- Space Here --></ion-label>

      <ion-item>
        <ion-label floating>
          <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
          {{'term' |translate}}
        </ion-label>
        <ion-select name="TERM" [(ngModel)]="TERM">
          <ion-option value="1">{{'first' |translate}}</ion-option>
          <ion-option value="2">{{'second' |translate}}</ion-option>
          <ion-option value="3">{{'third' |translate}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-label><!-- Space Here --></ion-label>

      <ion-item>
        <ion-label >
          <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
          {{'start_date' |translate}} 
        </ion-label>
        <ion-datetime name="START_DATE" displayFormat="DD MMM YYYY" min="2019" max="2050" [(ngModel)]="START_DATE"></ion-datetime>
      </ion-item>

      <ion-label><!-- Space Here --></ion-label>

      <ion-item>
        <ion-label>
          <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
          {{'end_date' |translate}} 
        </ion-label>
        <ion-datetime name="END_DATE" displayFormat="DD MMM YYYY" min="2020" max="2051" [(ngModel)]="END_DATE"></ion-datetime>
      </ion-item>
      
<ion-label> <!-- Space Here -->  </ion-label> 

        <button ion-button color="header" 
        block style="border-radius:2px 2px 2px 2px;width: 200px;
          margin:auto;" on-click="Submit(TID,SESSION,TERM,START_DATE,END_DATE)" >
          {{'submit' |translate}}
        </button>
  </ion-list>
</ion-content>
