<!--
  Generated template for the UpdateTimeTablePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="header">
    <ion-title>{{'update_timetable' |translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
     <ion-label floating>{{'select_class' |translate}} {{'and' |translate}} Section</ion-label>
      <ion-select  name="CLASSID" [(ngModel)]="CLASSID" (ionChange)="getSubject(CLASSID)" >
       <ion-option *ngFor="let i of service?.classData"  value="{{i.CLASS_MASTER_ID}}">Class: {{i.CLASS}} Section : {{i.SECTION}}</ion-option>
      </ion-select>
 </ion-item>

 <ion-item>
     <ion-label floating>{{'select_day' |translate}}</ion-label>
     <ion-select  name="Day" [(ngModel)]="Day" (ionChange)="getCurrentTimeTable(Day)">
         <ion-option *ngFor="let i of Days">{{i.Day}}</ion-option>
        </ion-select>
   </ion-item>


   <ion-item>
       <ion-label floating>
           <ion-icon ios="ios-book" md="md-book"></ion-icon>
           {{'select_subject' |translate}}
         </ion-label> 
   
        <ion-select  name="SUBJECTID" [(ngModel)]="SUBJECTID">
         <ion-option *ngFor="let i of service?.SubjectOnTimeTable" value="{{i.SUBJECT_ID}}">{{i.SUBJECT_ID}} : {{i.SUBJECT_NAME}}</ion-option>
        </ion-select>
     </ion-item>

 
     <ion-item>
         <ion-label floating>
             <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
           {{'time_slot' |translate}}
         </ion-label>
         <ion-select  name="SLOT" [(ngModel)]="SLOT">
             <ion-option *ngFor="let i of service?.timeview">{{i.TIME_SLOT}}</ion-option>
            </ion-select>
   
       </ion-item>


 <ion-label> <!-- For Space -->  </ion-label>

 <button id="DeleteTimeTable" on-click="UpdateTimeTable()" 
 ion-button color="header" 
 block style="border-radius:2px 2px 2px 2px;width: 200px;  margin:auto;">
     {{'update' |translate}}
 </button>

 <ion-label>
   <!--Space Here-->
 </ion-label>

 <ion-label>
     <!--Space Here-->
   </ion-label>

 <div *ngIf="status">
     <ion-grid class="head" style="border:solid 1px;">
        <ion-row >
          <ion-col >
            <div>Code</div>
          </ion-col>
          <ion-col>
            <div>{{'name' |translate}}</div>
          </ion-col>
          <ion-col>
             <div>{{'time' |translate}}</div>
          </ion-col>
          <ion-col>
            <div>{{'day' |translate}}</div>
          </ion-col>
        </ion-row>
        
      </ion-grid>
      <ion-grid *ngFor="let i of service?.timeview" style="border:solid 1px;">
        <ion-row>
          <ion-col>
            <div>
              {{i.SUBJECT_ID}} 
            </div>
          </ion-col>
  
          <ion-col>
              <div>
                {{i.SUBJECT_NAME}} 
              </div>
            </ion-col>
  
          <ion-col>
            <div>
              {{i.TIME_SLOT}}
            </div>
          </ion-col>
          <ion-col>
            <div>
              {{i.DAY}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>

</ion-content>
