page-teacher-home {
   
    .bkgcolor
    {
        background-color: #488aff;
        width: 26vw;
        height: 17vh;
        border-radius:55%;
        
    }
    .label-md {
        margin: 13px 1px 13px 0px;
        text-align: center;
    }

}
