<ion-header>
  <ion-navbar color="header">
    <ion-title>{{'update_user' |translate}}</ion-title>
     <ion-buttons start>
        <button ion-button icon-left (click)="prev()"><ion-icon name="arrow-back"></ion-icon> {{'prev' |translate}}</button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button icon-right (click)="next()">{{'next' |translate}} <ion-icon name="arrow-forward"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content  >

   <!-- style="height: auto" is used to make sure that, inputs will not go out of the screen -->
   <ion-slides #signupSlider pager style="height: auto">
          <!-- slide1 -->
      <ion-slide >

        <p *ngIf="submitAttempt" style="color: #ea6153;">{{'fill_out_details_accurately' |translate}}</p>

        <ion-list no-lines >

            <form [formGroup]="slideOneForm"  >

               <!-- user id -->
                <ion-item *ngIf="!slideOneForm.controls.userrole.value">
                    <ion-label *ngIf="!slideOneForm.controls.userrole.value" floating > {{'enter_reg_no' |translate}} :  </ion-label>
                    <ion-input *ngIf="!slideOneForm.controls.userrole.value" type="number" formControlName="userid" [class.invalid]="!slideOneForm.controls.userid.valid && (slideOneForm.controls.userid.dirty || submitAttempt)" > </ion-input>
                </ion-item> 
                <button *ngIf="!slideOneForm.controls.userrole.value" ion-button full color="primary" (click)="UserInfos()">
                        <ion-icon name="eye"></ion-icon> &nbsp; {{'view_user' |translate}}
                    </button>
    
                <ion-item *ngIf="!slideOneForm.controls.userid.valid  && (slideOneForm.controls.userid.dirty || submitAttempt)">
                    <p style="color:red">{{'enter_valid_reg_id' |translate}}</p>
                </ion-item>
                
             
                   <!-- user role -->
                <ion-item>
                    <ion-label class="printid">{{'role' |translate}} : </ion-label>
                    <ion-label class="printid" *ngIf="service.recdata" >
                           {{slideOneForm.controls.userrole.value}}             
                    </ion-label>
                </ion-item>

                <ion-item *ngIf="!slideOneForm.controls.userrole.valid  && (slideOneForm.controls.userrole.dirty || submitAttempt)">
                    <p style="color:red">Please enter a valid name.</p>
                </ion-item>   <br>         
                   <!-- user id -->
                <ion-item>
                    <ion-label class="printid"> {{'Reg_No' |translate}} :  </ion-label>
                    <ion-label class="printid" *ngIf="service.recdata" > {{Reg_No}} </ion-label>
                    
                </ion-item> 
    
                <ion-item *ngIf="!slideOneForm.controls.userid.valid  && (slideOneForm.controls.userid.dirty || submitAttempt)">
                    <p style="color:red">Please enter a valid name.</p>
                </ion-item>
                 

                <!-- <ion-item *ngIf="!slideOneForm.controls.userpic.valid  && (slideOneForm.controls.userpic.dirty || submitAttempt)">
                    <p>Please enter a valid name.</p>
                </ion-item> -->
                  <!-- user first name -->
                <ion-item>
                    <ion-label floating>
                        <ion-icon ios="ios-person" md="md-person"></ion-icon>
                        {{'first_name' |translate}}
                    </ion-label>
                    <ion-input formControlName="userfirstname" type="text" [class.invalid]="!slideOneForm.controls.userfirstname.valid && (slideOneForm.controls.userfirstname.dirty || submitAttempt)"> 
                         </ion-input>
                </ion-item>
            

                <ion-item *ngIf="!slideOneForm.controls.userfirstname.valid  && (slideOneForm.controls.userfirstname.dirty || submitAttempt)">
                    <p style="color:red">Please enter a valid name.</p>
                </ion-item>
                  <!-- user last name -->
                <ion-item>
                    <ion-label floating>
                        <ion-icon ios="ios-person" md="md-person"></ion-icon>
                        {{'last_name' |translate}}
                    </ion-label>
                    <ion-input formControlName="userlastname" type="text" [class.invalid]="!slideOneForm.controls.userlastname.valid && (slideOneForm.controls.userlastname.dirty || submitAttempt)" > 
                         
                    </ion-input>
                </ion-item>

                <ion-item *ngIf="!slideOneForm.controls.userlastname.valid  && (slideOneForm.controls.userlastname.dirty || submitAttempt)">
                    <p style="color:red">Please enter a valid name.</p>
                </ion-item>
                
                  <!-- user gender -->
                <ion-item>
                    <ion-label floating>
                        <ion-icon ios="ios-male" md="md-male"></ion-icon>
                        {{'gender' |translate}}
                    </ion-label>
                    <ion-select  [placeholder]="slideOneForm.controls.usergender.value" formControlName="usergender" [class.invalid]="!slideOneForm.controls.usergender.valid && (slideOneForm.controls.usergender.dirty || submitAttempt)">
                          <ion-option value="male">
                                {{'male' |translate}}
                          </ion-option>
                          <ion-option value="female">
                                {{'female' |translate}}
                          </ion-option>
                    </ion-select>
                </ion-item>

                <ion-item *ngIf="!slideOneForm.controls.usergender.valid  && (slideOneForm.controls.usergender.dirty || submitAttempt)">
                    <p style="color:red">Please enter a valid name.</p>
                </ion-item>
                  <!-- user date of birth -->
                <ion-item>
                    <ion-label floating>
                        <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
                        {{'dob' |translate}}
                    </ion-label>
                      <ion-datetime display-format="MMMM YYYY" min="1930" max="2012-12-31" formControlName="userdob" [class.invalid]="!slideOneForm.controls.userdob.valid && (slideOneForm.controls.userdob.dirty || submitAttempt)"  > 
                      </ion-datetime>
                    
                </ion-item>

                <ion-item *ngIf="!slideOneForm.controls.userdob.valid  && (slideOneForm.controls.userdob.dirty || submitAttempt)">
                    <p style="color:red">Please enter a valid date.</p>
                </ion-item>
              
            
            </form>

        </ion-list>

      </ion-slide>

      <!-- slide 2 -->
      <ion-slide >

        <ion-list no-lines >

            <form [formGroup]="slideTwoForm">
                 
                  <!-- user email -->
                <ion-item>
                    <ion-label floating>
                        <ion-icon ios="ios-at" md="md-at"></ion-icon>
                        Email 
                    </ion-label>
                    <ion-input formControlName="useremail" type="email" [class.invalid]="!slideTwoForm.controls.useremail.valid && (slideTwoForm.controls.useremail.dirty || submitAttempt)"> </ion-input>
                </ion-item>

                <ion-item *ngIf="!slideTwoForm.controls.useremail.valid  && (slideTwoForm.controls.useremail.dirty || submitAttempt)">
                    <p style="color:red">Please enter a valid email ex : ali21@gmail.com.</p>
                </ion-item>
                
                  <!-- user password -->
                <ion-item>
                    <ion-label floating>
                        <ion-icon ios="ios-lock" md="md-lock"></ion-icon>
                        {{'password' |translate}}
                    </ion-label>
                    <ion-input formControlName="userpassword" type="password" [class.invalid]="!slideTwoForm.controls.userpassword.valid && (slideTwoForm.controls.userpassword.dirty || submitAttempt)" ></ion-input>
                </ion-item>

                <ion-item *ngIf="!slideTwoForm.controls.userpassword.valid  && (slideTwoForm.controls.userpassword.dirty || submitAttempt)">
                     <p style="color:red">Please enter a valid password : length>=8.</p>
                    <p style="color:red">Should contain: at least one capital letter, </p> 
                    <p style="color:red">one small letter, one special character. </p>
                </ion-item>
                  <!-- user confirm password -->
                <ion-item>
                    <ion-label floating>
                        <ion-icon ios="ios-lock" md="md-lock"></ion-icon>
                        {{'confirm_password' |translate}}
                    </ion-label>
                    <ion-input formControlName="userpassword2" type="password" [class.invalid]="!slideTwoForm.controls.userpassword2.valid && (slideTwoForm.controls.userpassword2.dirty || submitAttempt)"></ion-input>
                </ion-item>

                <ion-item *ngIf="!slideTwoForm.controls.userpassword2.valid  && (slideTwoForm.controls.userpassword2.dirty || submitAttempt)">
                    <p style="color:red">Please enter a valid password : length>=8.</p>
                    <p style="color:red">Should contain: at least one capital letter, </p> 
                    <p style="color:red">one small letter, one special character. </p>
                </ion-item>

                  <!-- user father's name -->
                <ion-item>
                    <ion-label floating>
                        <ion-icon ios="ios-text" md="md-text"></ion-icon>
                        {{'father_name' |translate}}
                    </ion-label>
                    <ion-input formControlName="userfathername" type="text" [class.invalid]="!slideTwoForm.controls.userfathername.valid && (slideTwoForm.controls.userfathername.dirty || submitAttempt)" ></ion-input>
                </ion-item>

                <ion-item *ngIf="!slideTwoForm.controls.userfathername.valid  && (slideTwoForm.controls.userfathername.dirty || submitAttempt)">
                    <p style="color:red">Please enter a valid name.</p>
                </ion-item>
                       <!-- user mother's name -->
                <ion-item>
                    <ion-label floating>
                        <ion-icon ios="ios-text" md="md-text"></ion-icon>
                        {{'mother_name' |translate}} 
                    </ion-label>
                    <ion-input formControlName="usermothername" type="text" [class.invalid]="!slideTwoForm.controls.usermothername.valid && (slideTwoForm.controls.usermothername.dirty || submitAttempt)"></ion-input>
                </ion-item>

                <ion-item *ngIf="!slideTwoForm.controls.usermothername.valid  && (slideTwoForm.controls.usermothername.dirty || submitAttempt)">
                    <p style="color:red">Please enter a valid name.</p>
                </ion-item>
                       <!-- user city -->
                <ion-item>
                    <ion-label floating>
                            <ion-icon ios="ios-locate" md="md-locate"></ion-icon>
                        {{'city' |translate}} 
                    </ion-label>
                    <ion-input formControlName="usercity" type="text" [class.invalid]="!slideTwoForm.controls.usercity.valid && (slideTwoForm.controls.usercity.dirty || submitAttempt)" ></ion-input>
                </ion-item>

                <ion-item *ngIf="!slideTwoForm.controls.usercity.valid  && (slideTwoForm.controls.usercity.dirty || submitAttempt)">
                    <p style="color:red">Please enter a valid name.</p>
                </ion-item>
              
            </form>

        </ion-list>
          
      </ion-slide>
      <!-- slide 3 -->
      <ion-slide>

        <ion-list no-lines >

            <form [formGroup]="slideThreeForm">
                 
                  <!-- addressType -->
                <ion-item>
                    <ion-label floating>
                        <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
                        {{'address_type' |translate}} 
                    </ion-label>
                   <ion-select [placeholder]="slideThreeForm.controls.addressType.value" formControlName="addressType" [class.invalid]="!slideThreeForm.controls.addressType.valid && (slideThreeForm.controls.addressType.dirty || submitAttempt)" >
                          <ion-option value="Permanent">
                                {{'permanent' |translate}}
                          </ion-option>
                          <ion-option value="temporarly">
                                {{'Temporary' |translate}}
                          </ion-option>
                    </ion-select>
                </ion-item>

                <ion-item *ngIf="!slideThreeForm.controls.addressType.valid  && (slideThreeForm.controls.addressType.dirty || submitAttempt)">
                    <p>{{'select_one_address_type' |translate}}</p>
                </ion-item>
                
                  <!-- address Line 1 -->
                <ion-item>
                    <ion-label floating>
                        <ion-icon ios="ios-text" md="md-text"></ion-icon>
                        {{'address_line1' |translate}}
                    </ion-label>
                    <ion-input formControlName="address1" type="text" [class.invalid]="!slideThreeForm.controls.address1.valid && (slideThreeForm.controls.addressType.dirty || submitAttempt)" ></ion-input>
                </ion-item>

                <ion-item *ngIf="!slideThreeForm.controls.address1.valid  && (slideThreeForm.controls.address1.dirty || submitAttempt)">
                    <p style="color:red">Please enter a valid name.</p>
                </ion-item>
                  <!-- address Line 2 -->
                <ion-item>
                    <ion-label floating>
                        <ion-icon ios="ios-text" md="md-text"></ion-icon>
                        {{'address_line2' |translate}}
                    </ion-label>
                    <ion-input formControlName="address2" type="text" [class.invalid]="!slideThreeForm.controls.address2.valid && (slideThreeForm.controls.address2.dirty || submitAttempt)" ></ion-input>
                </ion-item>

                <ion-item *ngIf="!slideThreeForm.controls.address2.valid  && (slideThreeForm.controls.address2.dirty || submitAttempt)">
                    <p style="color:red">Please enter a valid name.</p>
                </ion-item>

                  <!-- state -->
                <ion-item>
                    <ion-label floating>
                        <ion-icon ios="ios-locate" md="md-locate"></ion-icon>
                        {{'state' |translate}}
                    </ion-label>
                    <ion-input formControlName="state" type="text" [class.invalid]="!slideThreeForm.controls.state.valid && (slideThreeForm.controls.state.dirty || submitAttempt)"></ion-input>
                </ion-item>

                <ion-item *ngIf="!slideThreeForm.controls.state.valid  && (slideThreeForm.controls.state.dirty || submitAttempt)">
                    <p style="color:red">Please enter a valid name.</p>
                </ion-item>
                   <!-- Pin Code -->
                <ion-item>
                    <ion-label floating>
                        <ion-icon ios="ios-calculator" md="md-calculator"></ion-icon>
                        {{'pincode' |translate}} 
                    </ion-label>
                    <ion-input formControlName="pincode" type="number" [class.invalid]="!slideThreeForm.controls.pincode.valid && (slideThreeForm.controls.pincode.dirty || submitAttempt)"> </ion-input>
                </ion-item>

                <ion-item *ngIf="!slideThreeForm.controls.pincode.valid  && (slideThreeForm.controls.pincode.dirty || submitAttempt)">
                    <p style="color:red">Please enter a valid pin code. Length = 6</p>
                </ion-item>
                 <!-- contact -->
                <ion-item>
                    <ion-label floating>
                        <ion-icon ios="ios-phone-portrait" md="md-phone-portrait"></ion-icon>
                        {{'mobile_contact' |translate}} 
                    </ion-label>
                   <ion-input formControlName="contact" type="text" [class.invalid]="!slideThreeForm.controls.contact.valid && (slideThreeForm.controls.contact.dirty || submitAttempt)"></ion-input>

                </ion-item>

                <ion-item *ngIf="!slideThreeForm.controls.contact.valid  && (slideThreeForm.controls.contact.dirty || submitAttempt)">
                    <p style="color:red">Please enter a valid value</p>
                </ion-item> 


            </form>

        </ion-list>

      </ion-slide>

       <!-- slide 4 -->
      <ion-slide  class="scroll">

        <ion-list no-lines >

            <form [formGroup]="slideFourForm">
                 
                <!-- user pic -->
                <ion-item>
                    <!-- <ion-label floating>User Picture</ion-label>
                    <ion-input formControlName="userpic" type="text" [class.invalid]="!slideOneForm.controls.userpic.valid && (slideOneForm.controls.userpic.dirty || submitAttempt)"></ion-input> -->
                    <img src="{{pathForImage(lastImage)}}" style="width: 100%; height:80% ;" [hidden]="lastImage === null">
                    <h5 [hidden]="lastImage !== null">{{'select_img_text' |translate}}</h5>
                    <ion-buttons>
                            <button ion-button icon-right (click)="presentActionSheet()">
                                <ion-icon name="camera"></ion-icon> &nbsp; {{'select_img_btn' |translate}}
                            </button>
                            <!-- <button ion-button icon-right (click)="uploadImage()" [disabled]="lastImage === null">
                                <ion-icon name="cloud-upload"></ion-icon>&nbsp; Upload
                            </button> -->
                    </ion-buttons>       
                </ion-item>

             <!-- student class   -->
                <ion-item [hidden]='slideOneForm.controls.userrole.value !=="student"'>
                     <ion-label  floating  [hidden]='slideOneForm.controls.userrole.value !=="student"'>{{'class' |translate}}</ion-label>
                    <ion-select  [placeholder]="slideFourForm.controls.studentClass.value" formControlName="studentClass" [class.invalid]="!slideFourForm.controls.studentClass.valid && (slideFourForm.controls.studentClass.dirty || submitAttempt)">
                          <ion-option  *ngFor=" let p of cid.classData" [value]="p.CLASS">
                                {{p.CLASS}}
                          </ion-option>
                          
                    </ion-select>
                </ion-item>
                 <!-- student  SECTION   -->
                <ion-item [hidden]='slideOneForm.controls.userrole.value !=="student"'>
                    <ion-label  floating  [hidden]='slideOneForm.controls.userrole.value !=="student"'>
                        <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
                        SECTION 
                    </ion-label>
                    <ion-select  [placeholder]="slideFourForm.controls.studentSection.value" formControlName="studentSection" [class.invalid]="!slideFourForm.controls.studentSection.valid && (slideFourForm.controls.studentSection.dirty || submitAttempt)">
                          <ion-option  value="A">
                                A
                          </ion-option>
                          <ion-option  value="B">
                                B
                          </ion-option>
                          <ion-option  value="C">
                                C
                          </ion-option>
                          <ion-option  value="D">
                                D
                          </ion-option>
                          
                    </ion-select>
                </ion-item>
                 <!-- session   -->
                <ion-item [hidden]='slideOneForm.controls.userrole.value !=="student"'>
                    <ion-label floating  [hidden]='slideOneForm.controls.userrole.value !=="student"'>SESSION </ion-label>
                    <ion-select [placeholder]="slideFourForm.controls.studentSession.value" formControlName="studentSession" [class.invalid]="!slideFourForm.controls.studentClass.valid && (slideFourForm.controls.studentClass.dirty || submitAttempt)">
                          <ion-option  *ngFor=" let p of getSession.SessData" [value]="p.SESSION_MASTER_ID">
                                <ion-icon ios="ios-browsers" md="md-browsers"></ion-icon>
                                {{p.SESSION_START_DATE}} -- {{p.SESSION_END_DATE}}
                          </ion-option>
                          
                    </ion-select>
                </ion-item>
                 <!-- teacher Designation      -->
        
                <ion-item [hidden]='slideOneForm.controls.userrole.value !=="teacher" '>
                    <ion-label floating>
                        <ion-icon ios="ios-person-add" md="md-person-add"></ion-icon>
                        {{'teacher_designation' |translate}}
                    </ion-label>
                    <ion-input  formControlName="teacherDesg" type="text" [class.invalid]="!slideFourForm.controls.teacherDesg.valid && (slideFourForm.controls.teacherDesg.dirty || submitAttempt)" >  
                    </ion-input>
                </ion-item>

                <ion-item *ngIf="!slideFourForm.controls.teacherDesg.valid  && (slideFourForm.controls.teacherDesg.dirty || submitAttempt)">
                    <p style="color:red">Please enter a valid name.</p>
                </ion-item>


                 <!-- teacher Department      -->
                <ion-item [hidden]='slideOneForm.controls.userrole.value !=="teacher"'>
                    <ion-label floating  [hidden]='slideOneForm.controls.userrole.value !=="teacher"'>
                        <ion-icon ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
                        {{'department' |translate}}
                    </ion-label>
                    <ion-select [placeholder]="slideFourForm.controls.teacherDepart.value" formControlName="teacherDepart" [class.invalid]="!slideFourForm.controls.teacherDepart.valid && (slideFourForm.controls.teacherDepart.dirty || submitAttempt)">
                          <ion-option value=" computer application">
                                {{'computer_application' |translate}}
                          </ion-option>
                          <ion-option value="computer science engineering">
                                {{'computer_science' |translate}}
                          </ion-option>
                           <ion-option value=" Business">
                                {{'business' |translate}}
                          </ion-option>
                          <ion-option value="Machine Learning">
                                {{'machine_learning' |translate}}
                          </ion-option>
                          
                    </ion-select>
                </ion-item>

            </form>

        </ion-list>
            
            <button ion-button full color="primary" (click)="save()">
                <ion-icon name="cloud-upload"></ion-icon> &nbsp; {{'update_account' |translate}}!
             </button>

      </ion-slide>
 

    </ion-slides>
           
</ion-content>
