// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.bkgcolor
    {
        background-color: rgba(51,102,204,1);
        max-width: 30vw;
        max-height: 30vw;
        height: 26vw;
        width: 26vw;
        border-radius:50%;
        
    }
    .upperhalf {
        height: 50%;
        padding-top: 10%;
        background: linear-gradient(180deg, rgb(180,203,236) 19%, rgba(51,102,204,1) 81%);
        padding-top: 10%;
    }
    .lowerhalf {
        height: 50%;
        background-color: #ffffff;
    }
    .login-form {
        padding: 25px;
        position: relative;
        bottom: 60px;
    }
    .user {
        border-radius: 7px 7px 0px 0px;
    }
    .wrapper-class {
        background-color: #fff;
    }

    .log-in {
        position: relative;
        bottom: 28px;
        display: flex;
        justify-content: center;
    }
    button#login-button3 {
        border-radius: 40px !important;
    }

    .cus-center{
        text-align: center;
          }