<!--
  Generated template for the StudentQuizPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="header">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title> Quiz </ion-title>
     <ion-buttons end>
        <button ion-button icon-only color="royal">
         <ion-icon name="information-circle"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list radio-group *ngIf="service.index < service.size" [(ngModel)]="useransw">

       <ion-item>
      
        <ion-label style="background-color:red; color:white">  {{service.question}}</ion-label>
      
      </ion-item>
      <ion-item>
        <ion-label text-wrap>{{service.option1}}</ion-label>
        <ion-radio  value="{{service.option1}}" checked></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>{{service.option2}}</ion-label>
        <ion-radio value="{{service.option2}}" checked></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label text-wrap>{{service.option3}}</ion-label>
        <ion-radio value="{{service.option3}}" checked></ion-radio>
      </ion-item>
       <ion-item>
        <ion-label text-wrap>{{service.option4}}</ion-label>
        <ion-radio value="{{service.option4}}" checked></ion-radio>
      </ion-item>
</ion-list>
  
  <div *ngIf="service.index < service.size">
       <br><br><br>
       <strong> <label style="font-size:130%" text-wrap> Your choice is :->   {{useransw}} </label> </strong> <br> <br>
       <label>  press next button , to validate your choice </label>
  </div>
   <button *ngIf="service.index < service.size" full menuClose ion-button (click)="next()"> 
      <ion-icon name="next"></ion-icon>&nbsp;
       Next      
    </button>


    <div *ngIf="service.index >= service.size   "style="margin-top:20%">
         <label text-wrap> Your Score is :  </label> <br><br><br>
          <label  style="margin-top:10%; font-size:130%" text-wrap>   {{service.score}}  / {{service.recdata.length}} </label> 
          <br> <br>
          <label style="margin-top:10%; color:red; font-size:210%"> Correction : </label> <br> <br>
          <div *ngFor ="let item of service.recdata">
                <label style="margin:10%">   {{item.QUESTION}}  - >>> </label> 
               <label style="margin-top:10%; bacground-color:red"> {{item.ANSWER}}  </label>
          </div>
    </div> 
</ion-content>
