<!--
  Generated template for the ResetpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="header">
    <ion-title>Reset Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="main-wrapper">

   <div class="upperhalf">   
   <img src="assets/imgs/logo1.png" style="display:block;width: 50%;margin-left:auto;margin-right:auto;border-radius: 60%;height: 167px;" /> 
  </div>
  
   <ion-slides #signupSlider style="margin-top : 2vh; height: auto">
          <!-- slide1 -->
      <ion-slide>

        <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>

        <ion-list no-lines >

            <form [formGroup]="slideOneForm"  scroll="true">

                 <!-- OTP -->
                <ion-item >
                    <ion-label floating>OTP</ion-label>
                    <ion-input formControlName="OTP" type="number" [class.invalid]="!slideOneForm.controls.OTP.valid && (slideOneForm.controls.OTP.dirty || submitAttempt)"></ion-input>
                </ion-item>

                <ion-item class="red" *ngIf="!slideOneForm.controls.OTP.valid  && (slideOneForm.controls.OTP.dirty || submitAttempt)">
                    <p >Please enter a valid OTP.</p>
                </ion-item>
                 <!-- new password -->
                <ion-item>
                    <ion-label floating>New Password</ion-label>
                    <ion-input formControlName="newpassword" type="password" [class.invalid]="!slideOneForm.controls.newpassword.valid && (slideOneForm.controls.newpassword.dirty || submitAttempt)"></ion-input>
                </ion-item>

                <ion-item *ngIf="!slideOneForm.controls.newpassword.valid  && (slideOneForm.controls.newpassword.dirty || submitAttempt)">
                    <p class="red">Please enter a valid password. length>=8 ex:AaBb@&12 </p>
                </ion-item>
              
            
            </form>

        </ion-list>
      </ion-slide>
   </ion-slides>   
   <button ion-button full color="primary" (click)="resetpassword()">
                <ion-icon name="cloud-upload"></ion-icon> &nbsp; Reset password!
             </button>
</ion-content>
