<!--
  Generated template for the DeleteUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="header"> 
    <ion-title>Delete User</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <!-- style="height: auto" is used to make sure that, inputs will not go out of the screen -->
   <ion-slides #signupSlider  style="height: auto">

          <!-- slide1 -->
      <ion-slide  class="scroll">

        <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>

        <ion-list no-lines  scroll="true">

            <form [formGroup]="slideOneForm"  scroll="true">

                   <!-- user id -->
                <ion-item>
                    <ion-label floating > Enter Registration number here :  </ion-label>
                    <ion-input  type="number" name="userid"  formControlName="userid" [class.invalid]="!slideOneForm.controls.userid.valid && (slideOneForm.controls.userid.dirty || submitAttempt)" > </ion-input>
                </ion-item> 
                <button ion-button full color="primary" (click)="UserInfos()">
                        <ion-icon name="eye"></ion-icon> &nbsp; View User
                    </button>
    
                <ion-item  *ngIf="!slideOneForm.controls.userid.valid  && (slideOneForm.controls.userid.dirty || submitAttempt)">
                    <p>Please enter a valid registration id.</p>
                </ion-item>

                   <!-- user role -->
                <ion-item>
                    <ion-label>Role :</ion-label>
                    <ion-label *ngIf="service.recdata" text-wrap  class="printid"> {{service?.recdata.data[0]?.ROLE}} </ion-label>
                </ion-item>
              
                  <!-- user first name -->
                <ion-item>
                    <ion-label >FirstName :</ion-label>
                    <ion-label text-wrap  class="printid" *ngIf="service.recdata" > {{service?.recdata.data[0]?.FIRST_NAME}}</ion-label>
                </ion-item>
                  <!-- user last name -->
                <ion-item>
                    <ion-label >LastName:</ion-label>
                    <ion-label text-wrap class="printid" *ngIf="service.recdata" > {{service?.recdata.data[0]?.LAST_NAME}} </ion-label>
                 </ion-item>

                  <!-- user gender -->
                <ion-item>
                    <ion-label >gender :</ion-label>
                    <ion-label text-wrap class="printid" *ngIf="service.recdata" > {{service?.recdata.data[0]?.GENDER}} </ion-label>
                </ion-item>

                   <!-- student class name  -->
                <ion-item *ngIf='service.recdata'  [hidden]='service.recdata.data[0].ROLE !=="student" '>
                    <ion-label  [hidden]='service.recdata.data[0].ROLE !=="student" '>Class : </ion-label>
                    <ion-label text-wrap  class="printid" *ngIf='service.recdata.data[0].ROLE ==="student"' [hidden]='service.recdata.data[0].ROLE !=="student" '>{{service.recdata.class[0].CLASS}} </ion-label>
                    
                </ion-item>
             <!-- student class Section  -->
                <ion-item *ngIf='service.recdata' [hidden]='service.recdata.data[0].ROLE !=="student" '>
                    <ion-label  [hidden]='service.recdata.data[0].ROLE !=="student" '>Section : </ion-label>
                    <ion-label text-wrap class="printid" *ngIf='service.recdata.data[0].ROLE ==="student"' [hidden]='service.recdata.data[0].ROLE !=="student" '> {{service.recdata.class[0].SECTION}}  </ion-label>    
                </ion-item>

             <!-- student session  -->
                <ion-item *ngIf='service.recdata' [hidden]='service.recdata.data[0].ROLE !=="student" '>
                    <ion-label  [hidden]='service.recdata.data[0].ROLE !=="student" '>Session : </ion-label>
                    <ion-label text-wrap class="printid" *ngIf='service.recdata.data[0].ROLE ==="student"' [hidden]='service.recdata.data[0].ROLE !=="student" '>{{service.recdata.session[0].SESSION_START_DATE }} -- {{service.recdata.session[0].SESSION_END_DATE }} </ion-label>
                    
                </ion-item>

             <!-- teacher -->
             <!-- teacher designation  -->
                <ion-item *ngIf='service.recdata'  [hidden]='service.recdata.data[0].ROLE !=="teacher"'>
                    <ion-label  [hidden]='service.recdata.data[0].ROLE !=="teacher" '>designation : </ion-label>
                    <ion-label text-wrap class="printid" *ngIf='service.recdata.data[0].ROLE ==="teacher"' [hidden]='service.recdata.data[0].ROLE !=="teacher" '>{{service.recdata.teacher[0].DESIGNATION}} </ion-label>
                    
                </ion-item>
             <!-- teacher Departement  -->
                <ion-item *ngIf='service.recdata' [hidden]='service.recdata.data[0].ROLE !=="teacher" '>
                    <ion-label  [hidden]='service.recdata.data[0].ROLE !=="teacher" '>department : </ion-label>
                    <ion-label text-wrap class="printid" *ngIf='service.recdata.data[0].ROLE ==="teacher"' [hidden]='service.recdata.data[0].ROLE !=="teacher" '>{{service.recdata.teacher[0].DEPARTMENT}} </ion-label>    
                </ion-item>

            </form>

        </ion-list>
        <button ion-button full color="primary" (click)="DeleteUser()">
             Delete User
      </button>
      </ion-slide>
    
   </ion-slides>


</ion-content>
