page-teacher-announcement {
    .div1
    {
        float: left;
        width: 25%;
        background: white;
        
        
    }
    .div3{
        width:60%;
        float: left;
        background: white;
        color: black;
        text-align: center;
    
    }
    .div2
    {
    
        float: right;
        width: 15%;
        background:white;
        
    }
    
    .header-style
    {
        background:white;
       
        
    }
    
    .icon-style
    {
        background: #0277BD;
    
    }
    
    .button-div1
    {
        float:left;
        width: 40%;
        margin-top: 10px;
        margin-bottom: 5px;
        text-align: center;
       background-color: green;
       border-radius: 2px 2px 2px 2px;
    }
    
    .button-div2
    {
        float:right;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 5px;
        width: 40%;
        background:red;
        border-radius: 2px 2px 2px 2px;
      
    }
    .welcome-div
    {
        margin-top: 10px;
        padding: 10px;
        height: 40px;
        text-align: center;
    }
}
