<!--
  Generated template for the StudentTimeTablePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="header">
    <ion-title>Student TimeTable</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- Day -->
     <ion-item>
        <ion-label floating>Select Day</ion-label>
        <ion-select  name="Day" [(ngModel)]="Day" (ionChange)="getTimeTable(Day)">
            <ion-option *ngFor="let i of Days">{{i.Day}}</ion-option>
           </ion-select>
      </ion-item>


     <ion-label> <!-- Space Here --></ion-label>

     <div *ngIf="status">
      <ion-grid *ngFor="let i of getData?.StudentTime" style="border:solid 1px;">
          <ion-row>
            <ion-col>
              <div>
                {{i.SUBJECT_ID}} 
              </div>
            </ion-col>
    
            <ion-col>
                <div>
                  {{i.TIME_SLOT}} 
                </div>
              </ion-col>
    
            <ion-col>
              <div>
                {{i.DAY}}
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        </div>

</ion-content>
