<ion-header>
  <ion-navbar color="header">
    <ion-title>Class_Subject_Reg</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Class</ion-label>
     <ion-select  name="CLASS" [(ngModel)]="CLASS">

      <ion-option *ngFor="let i of cid?.classData"  value="{{i.CLASS_MASTER_ID}}" >{{i.CLASS}} {{i.SECTION}}</ion-option>
      
     </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>SUBJECTS</ion-label>
     <ion-select  name="SUBJECT" [(ngModel)]="SUBJECT">

      <ion-option *ngFor="let j of cid?.subjectData"  value="{{j.SUBJECT_ID}}" > {{j.SUBJECT_ID}} {{j.SUBJECT_NAME}}</ion-option>
      
     </ion-select>
  </ion-item>

  <div class="center">
    <button ion-button on-click="Submit(CLASS,SUBJECT)">
      ADD
    </button>
  </div>
</ion-content>
